<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{'/form-stylesheet.css'}" />
    <title>Clinic Information</title>
</head>

<body>
    <div class="topnav">
        <a th:href="@{'/'}">Form</a>
        <a th:href="@{'/records'}">Records</a>
    </div>

    <div class="container">
        <h2>Appointment Details</h2>
        <form method="post" th:action="@{'/submitform'}" >
            <input type="date">
            <input type="text" placeholder="Appointment Time">
            <input type="text" placeholder="Patient Name">
            <input type="text" placeholder="Diagnosis">
            <input type="text" placeholder="Medication Prescribed">
            <input type="text" placeholder="Medication Cost">
            <input type="submit" value="Submit">
        </form>
    </div>    
</body>
</html>