<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clinic Records</title>
</head>
<body>
    <div class="topnav">
        <a th:href="@{'/'}">Form</a>
        <a th:href="@{'/records'}">Records</a>        
    </div>

    <div class="container">
        <table>
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Patient Name</th>
                <th>Diagnosis</th>
                <th>Medication Prescribed</th>
                <th>Cost of Medication</th>
                <th></th>
            </tr>
        </table>
    </div>
</body>
</html>